<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <task:annotation-driven /> <!-- 定时器开关-->

    <bean id="ryTraverseJob" class="cn.sinobest.job.TraverseJob" init-method="init">
        <property name="callBackHandler" ref="analyzerCallBackHandler"/>
        <property name="serviceName" value="B_ASJ_ZAJ_TEMP" />
    </bean>

    <task:scheduled-tasks>
        <task:scheduled ref="ryTraverseJob" method="execute" fixed-delay="30000"/>
    </task:scheduled-tasks>


</beans>